NotiOfima.Visualizador/Service References/NotiOfimaService/ServiceNotiOfima3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/NotiOfima.Entidades.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NotiOfima.Entidades.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65426/ServiceNotiOfima.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfNotiOfimaTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotiOfimaTable" nillable="true" type="tns:NotiOfimaTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotiOfimaTable" nillable="true" type="tns:ArrayOfNotiOfimaTable" />
  <xs:complexType name="NotiOfimaTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadMostrar" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eliminar" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaExpiracion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FrecuenciaMostrar" type="xs:decimal" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idNota" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotiOfimaTable" nillable="true" type="tns:NotiOfimaTable" />
</xs:schema>