NotiOfima.Visualizador/Service References/NotiOfimaService/ServiceNotiOfima31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65426/ServiceNotiOfima.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NotiOfima.Entidades.Model" />
  <xs:element name="consultarNotas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarNotasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NotiOfima.Entidades.Model" minOccurs="0" name="consultarNotasResult" nillable="true" type="q1:ArrayOfNotiOfimaTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFrecuenciaMostrar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFrecuenciaMostrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultarFrecuenciaMostrarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarTiempoInactivo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarTiempoInactivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultarTiempoInactivoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>