NotiOfima.Visualizador/Service References/NotiOfimaService/ServiceNotiOfima1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceNotiOfima" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65426/ServiceNotiOfima.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65426/ServiceNotiOfima.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65426/ServiceNotiOfima.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NotiOfima.Entidades.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceNotiOfima_consultarNotas_InputMessage">
    <wsdl:part name="parameters" element="tns:consultarNotas" />
  </wsdl:message>
  <wsdl:message name="IServiceNotiOfima_consultarNotas_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarNotasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNotiOfima_consultarFrecuenciaMostrar_InputMessage">
    <wsdl:part name="parameters" element="tns:consultarFrecuenciaMostrar" />
  </wsdl:message>
  <wsdl:message name="IServiceNotiOfima_consultarFrecuenciaMostrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarFrecuenciaMostrarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNotiOfima_consultarTiempoInactivo_InputMessage">
    <wsdl:part name="parameters" element="tns:consultarTiempoInactivo" />
  </wsdl:message>
  <wsdl:message name="IServiceNotiOfima_consultarTiempoInactivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarTiempoInactivoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceNotiOfima">
    <wsdl:operation name="consultarNotas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNotiOfima/consultarNotas" message="tns:IServiceNotiOfima_consultarNotas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNotiOfima/consultarNotasResponse" message="tns:IServiceNotiOfima_consultarNotas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarFrecuenciaMostrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNotiOfima/consultarFrecuenciaMostrar" message="tns:IServiceNotiOfima_consultarFrecuenciaMostrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNotiOfima/consultarFrecuenciaMostrarResponse" message="tns:IServiceNotiOfima_consultarFrecuenciaMostrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarTiempoInactivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNotiOfima/consultarTiempoInactivo" message="tns:IServiceNotiOfima_consultarTiempoInactivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNotiOfima/consultarTiempoInactivoResponse" message="tns:IServiceNotiOfima_consultarTiempoInactivo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceNotiOfima" type="tns:IServiceNotiOfima">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarNotas">
      <soap:operation soapAction="http://tempuri.org/IServiceNotiOfima/consultarNotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarFrecuenciaMostrar">
      <soap:operation soapAction="http://tempuri.org/IServiceNotiOfima/consultarFrecuenciaMostrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarTiempoInactivo">
      <soap:operation soapAction="http://tempuri.org/IServiceNotiOfima/consultarTiempoInactivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNotiOfima">
    <wsdl:port name="BasicHttpBinding_IServiceNotiOfima" binding="tns:BasicHttpBinding_IServiceNotiOfima">
      <soap:address location="http://localhost:65426/ServiceNotiOfima.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>